#save, #clear, #colorPanel>a, #widthPanel>a {
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 5px;
    margin: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#save:hover, #clear:hover, #colorPanel>a:hover, #widthPanel>a:hover {
     background-color: #f1f1f1;
}

#save:active, #clear:active, #colorPanel>a:active, #widthPanel>a:active {
    background-color: #e9e9e9;
}

#drawingArea {
    width: 100%;
    border: 2px solid #dadada;
    height: 400px;
    margin-top: 20px;
}

body {
    width: 500px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 5em;
    text-align: center;
}

